<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Nominal</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Beranda</a></li>
            <li class="breadcrumb-item"><a href="/nominal">Nominal</a></li>
            <li class="breadcrumb-item active">Ubah</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Ubah Nominal: "<%= nominal.coinName %>""
              </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/nominal/edit/<%= nominal._id %>?_method=put" method="post" id="edit-nominal">
              <div class="card-body">
                <div class="form-group">
                  <label>Nama Koin</label>
                  <select class="form-control select2" style="width: 100%;" name="coinName" required>
                    <option <%= (nominal.coinName === '') ? selected='selected' : '' %>>Pilih koin</option>
                    <option value="GOLD" <%= (nominal.coinName === 'GOLD') ? selected='selected' : '' %>>GOLD
                    </option>
                    <option <%= (nominal.coinName === 'Diamond') ? selected='selected' : '' %> value="Diamond">
                      Diamond</option>
                    <option value="Jewel" <%= (nominal.coinName === 'Jewel') ? selected='selected' : '' %>>
                      Jewel
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="coinQuantity">Jumlah Koin</label>
                  <input type="number" class="form-control" name="coinQuantity" id="coinQuantity" value="<%= nominal.coinQuantity %>" placeholder="Masukkan jumlah koin">
                </div>
                <div class="form-group">
                  <label for="price">Harga</label>
                  <input type="number" class="form-control" name="price" id="price" value="<%= nominal.price %>" placeholder="Masukkan harga">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">Simpan</button>
              </div>

              <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Konfirmasi Ubah Data Nominal</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Anda yakin akan mengedit data nominal "<%= nominal.coinName %>"?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal -->

            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>

<script>
  $(function() {
    $('#edit-nominal').validate({
      rules: {
        coinName: {
          required: true,
        },
        coinQuantity: {
          required: true,
        },
        price: {
          required: true,
        },
      },
      messages: {
        coinName: {
          required: "Harap pilih nama koin.",
        },
        coinQuantity: {
          required: "Harap masukkan jumlah koin.",
        },
        price: {
          required: "Harap masukkan harga.",
        },
      },
      errorElement: 'span',
      errorPlacement: function(error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function(element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  })
</script>